@model Cliente
@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <h1>¡Muchas Gracias!</h1>
    <p>por validar tu correo @Html.DisplayFor(m => Model.Usuario)</p>
</div>
